@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(235, 235, 235);
  color: #384a5c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card-container {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 0px 15px 1px rgba(206, 206, 206, 0.52);
  -moz-box-shadow: 2px 0px 15px 1px rgba(206, 206, 206, 0.52);
  box-shadow: 2px 0px 15px 1px rgba(206, 206, 206, 0.52);
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

h1,
h2 {
  color: #333;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid #b2b2b2;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #862583;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  color: #862583;
}
